# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/
*.egg-info/

# Node
node_modules/
dist/
.vite/

# Uploads
backend/uploads/

# DB
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp

# Docker volumes
postgres_data/
